# Production environment variables
# NOTE: This file is referenced by both the application (via dotenvy) and compose.prod.yml
HOST=0.0.0.0
PORT=8080

ALLOWED_ORIGIN=http://localhost:3000

POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_DB=xlair
POSTGRES_USER=please-change-me
POSTGRES_PASSWORD=please-change-me

APP_IMAGE_TAG=latest
